
/* main title style */
.title{
    display: flex;
    justify-content: center;
    font-family: Arial;   
    animation: fade 2s ease-in-out
}

/* style of the navigation menu that leads to each option */
.menu{
    display: flex;
    list-style-type:none;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: cadetblue;
    border: 2px solid cadetblue;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 10px;
    font-family: Arial;
    animation: fade 2s ease-in-out


}

/* style for navigation menu elements */

.menu li a{
    color:black;
    margin-right: 40px;
    text-decoration:none;
    transition: background-color 0.3s ease-in-out;
    animation: fade 2s ease-in-out
    
}

/* fade-out animation */
.menu li a:hover{
    background-color:cornflowerblue;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    }
    


/* aboutme style */
.about-me{
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    animation: fade 2s ease-in-out
}

/* personal photo style */
.my-photo{
    border: 2px solid cornflowerblue;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    transform: rotate(2deg);
    animation: fade 2s ease-in-out
    
}

/* skill list style */
.list-skills{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right: 50px;
    transform: rotate(4deg)
    

/* project style */
}
.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    animation: fade 2s ease-in-out
}

.table-projects{
    border: 2px solid cornflowerblue;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin-top: 10px;
    font-family: Arial;
}

/* style of the project table elements */
.table-projects td a{
    color: black;
    text-decoration:none;
    transition: background-color 0.3s ease-in-out;
}

.table-projects li a:hover{
    background-color:cadetblue;
}

.image-project-2{
    border: 2px solid cornflowerblue;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

/* style for the last part of the portfolio */
.contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    background-color:cadetblue;
    border: 2px solid cadetblue;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 20px;
    margin: 10px;
    margin-right: 500px;
    margin-left: 500px;
    font-family: Arial;
    animation: fade 2s ease-in-out

}

/* style for the main content */
.main{
    background-color:cornflowerblue;
    border: 2px solid cornflowerblue;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    padding: 20px;
    margin-left: 500px;
    margin-right: 500px;
}

.body{
    background-color:cadetblue;
}

.box{
    background-color:cadetblue;
    
}

.name{
    margin-left: 22px;
    border-style: groove;
}

.email{
    margin-left: 25px;
    border-style: groove;
}

.message{
    border-style:groove;
}

.button{
    padding: 5px;
    margin-left: 100px;
    border-radius: 8px;
}

.list-social-networks{
    list-style-type:none;
}

.list-social-networks li a{
    transition: background-color 0.3s ease-in-out;
}

.list-social-networks li a:hover{
    background-color: cornflowerblue;
}