
.title{
    display: flex;
    justify-content: center;
    font-family: Arial;   
}

.menu{
    display: flex;
    list-style-type:none;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: cadetblue;

}

.menu li a{
    color:black;
    margin-right: 40px;
    text-decoration: none;
}

.about-me{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.projects{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.contacts{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    background-color:cadetblue;

}

.main{
    background-color:cornflowerblue;
}

.body{
    background-color:cadetblue;
}